<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting...</title>
    <!-- <script type="text/javascript">
        // Redirect to the desired URL after 3 seconds
        setTimeout(function () {
            window.location.href = "https://kushtiacity.web.app/";
        }, 0);
    </script> -->
</head>

<body>
    <p>If you are not redirected automatically, follow this <a href="https://kushtiacity.web.app/">Kushtia City</a>.</p>
</body>

</html>